body{
    background-color: rgb(24, 23, 23);
    color: white;
    text-align: center;
}


#container{
    width: 90vw;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
}



#one{
  top: 4%;
  left: 33%;
  background: red;
}

#two{
  top: 31%;
  left: 6%;
  background: green;
}

#three{
  top: 31%;
  right: 6%;
  background: blue;
}

#four{
  bottom: 4%;
  left: 33%;
  background: yellow;
}
.flash{
 opacity: 0.3;
}

.userFlash{
    background-color: white !important;
}
.divBtn{
  width: 35%;
  height: 35%;
  border-radius: 50%;
  position: absolute;
}